---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Tiles from "../components/Tiles.astro";
import DebugInfo from "../components/DebugInfo.astro";
import CodeBlock from "../components/CodeBlock.astro";

const code = `
/**
 * We are using swup to convert this site to a SPA
 * @see https://swup.js.org
 */
import Swup from "swup";
import { restoreScroll } from "@hirasso/restore-scroll";

window.history.scrollRestoration = "manual";

/** Restore the window (":root") and all overflowing elements */
function restore() {
	document.querySelectorAll(":root,.overflow-y-auto,.overflow-x-auto,.overflow-auto")
		.forEach((el) => restoreScroll(el));
};

/** Restore once on page load */
restore();

/** Restore again on swup's "page:view" hook */
new Swup({
	hooks: {
      "page:view": restore,
	},
});
`;
---

<Layout>

  <CodeBlock code={code.trim()} />

  <p class="text-center mt-8">Try it yourself:</p>
  <div data-swup-morph="spa-nav" class="mb-8">
    <Nav
      ariaLabel="Single Page App Navigation"
      items={[
        {
          href: "/spa-1/",
          label: "SPA Page 1",
        },
        {
          href: "/spa-2/",
          label: "SPA Page 2",
        },
      ]}
    />
  </div>

  <div id="swup">
    <section
      data-testid="horizontal"
      class="relative overflow-hidden rounded-sm text-black/50"
    >
      <div
        class="outline-2 rounded-sm w-full overflow-x-auto --horizontal"
        data-testid="horizontal-scroll-container"
      >
        <Tiles amount={50} direction="horizontal" idPrefix="horizontal" />
      </div>
      <DebugInfo text="scroll right" />
    </section>

  </div>
</Layout>

<script>
  import "../js/spa.js";
</script>
