---
import Layout from "../layouts/Layout.astro";
import Tiles from "../components/Tiles.astro";
import CodeBlock from "../components/CodeBlock.astro";
import DebugInfo from "../components/DebugInfo.astro";
const code = `
import { restoreScroll } from "@hirasso/restore-scroll";

/** restore the scroll position of the window */
window.history.scrollRestoration = "manual";
restoreScroll(window);
`;
---

<Layout fullBleed={true}>
  <!-- <p slot="instructions">Works on the window, too:</p>-->

  <CodeBlock code={code} />

  <div class="-mx-4 mb-4 relative overflow-hidden text-black/50">
    <Tiles amount={100} direction="vertical" idPrefix="vertical" />
  </div>

</Layout>

<DebugInfo text="scroll down" global />

<script>
  import { restoreScroll } from "../../../src/index.js";
  import { showDebugInfo } from "../js/global.js";

  window.history.scrollRestoration = "manual";
  restoreScroll(window, {
    debug: true,
    events: {
      restore: showDebugInfo,
      store: showDebugInfo,
    },
  });

</script>
