---
import Tiles from './Tiles.astro';
import Table from './Table.astro';
import Nav from './Nav.astro';
---

<div class="space-y-5 mb-10">
	<section data-testid="vertical">
		<h2>Vertical</h2>
		<div
			class="outline-2 rounded-sm overflow-y-auto h-50 w-full --vertical"
			data-testid="vertical-scroll-container"
		>
			<Tiles amount={100} direction="vertical" idPrefix="vertical" />
		</div>
	</section>

	<section data-testid="horizontal">
		<h2>Horizontal</h2>
		<div
			class="outline-2 rounded-sm w-full overflow-x-auto --horizontal"
			data-testid="horizontal-scroll-container"
		>
			<Tiles amount={50} direction="horizontal" idPrefix="horizontal" />
		</div>
	</section>

	<section data-testid="both-axis">
		<h2>Both axis</h2>
		<div
			class="outline-2 rounded-sm w-full h-100 overflow-auto"
			data-testid="both-axis-scroll-container"
		>
			<Table rows={20} columns={20} idPrefix="both-axis" />
		</div>
	</section>

</div>
