---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import DefaultPageContent from "../components/DefaultPageContent.astro";
import { SITE_DESCRIPTION } from "../consts.ts";
---

<Layout isFrontPage={true}>
  <p slot="after-header">{SITE_DESCRIPTION}</p>

  <Nav links={[]} />

  <DefaultPageContent />

  <Nav
    links={[
      {
        href: "/spa-1.html",
        title: "SPA Demo",
        description: "Inside a single page app",
      },
      {
        href: "/window.html",
        title: "Window Demo",
        description: "With scrollRestoration='manual'",
      },
    ]}
  />
</Layout>

<script>
  import { showDebugInfo } from "../js/global.js";
  import { restoreScroll } from "../../../src/index.js";
  import { $$ } from "../js/helpers.js";
  import type { ScrollPosition } from "../../../src/defs.js";

  window.history.scrollRestoration = "auto";

  $$(".overflow-y-auto,.overflow-x-auto,.overflow-auto").forEach((el) => {
    el.addEventListener("restore-scroll:restore", (e) => {
      const event = e as CustomEvent<{ position: ScrollPosition }>;
      console.log(event.detail.position);
    });

    restoreScroll(el, {
      debug: true,
      events: {
        restore: showDebugInfo,
        store: showDebugInfo,
      },
    });
  });
</script>
