---
import Layout from "../layouts/Layout.astro";
import DefaultPageContent from "../components/DefaultPageContent.astro";
---

<Layout>
  <p slot="instructions">In a Single Page Application</p>

  <DefaultPageContent />

</Layout>

<script>
  import "../js/spa.js";
</script>
