---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import DefaultPageContent from '../components/DefaultPageContent.astro';
---

<Layout isFrontPage={true}>
	<p slot="after-header">In a Single Page Application</p>

	<Nav
		links={[
			{
				href: '/spa-2.html',
				title: 'Page 2',
				description: 'Go to another page',
				direction: "right"
			}
		]}
	/>

	<DefaultPageContent />

	<Nav
		links={[
			{
        href: "/",
        title: "Leave SPA demo",
        description: "Go back to the start page",
        direction: "left",
      },
		]}
	/>
</Layout>

<script>
	import '../js/spa.js';
</script>