---
import Layout from '../layouts/Layout.astro';
import { Code } from "astro/components";
import DefaultPageContent from '../components/DefaultPageContent.astro';

const code = `
/**
 * Restore all elements that have overflow
 */
function restore() {
	document.querySelectorAll(".overflow-y-auto,.overflow-x-auto,.overflow-auto")
		.forEach((el) => restoreScroll(el));
}
restore();

/**
 * We are using swup for this SPA example
 * @see https://swup.js.org
 *
 * Re-initialize every time a new page is viewed
 */
new Swup({
	hooks: {
		"page:view": restore,
	},
});
`;
---

<Layout>
	<p slot="instructions">In a Single Page Application, you need to call <Code code="restoreScroll(el)" lang="js" inline /> anytime new elements are rendered:</p>

	<Code code={code.trim()} lang="js" />

	<DefaultPageContent />

</Layout>

<script>
	import '../js/spa.js';
</script>