---
export interface Props {
	text: string;
}
const { text } = Astro.props;
---

<p
  data-debug-info
  class="absolute top-0 right-0 rounded-bl-md text-end bg-black/50 backdrop-blur-lg text-white px-2.5 pt-1 pb-1.5 font-mono text-xs"
>
  {text}
</p>
